doctype html

html(lang='en')
  include includes/head.pug
  body
    include includes/nav.pug
    main
      article#record-details-card
        h1 Album Details
        section#record-details
          form(autocomplete='off')
            input(name='thumb' type='hidden' value=thumb)
            input(name='discogsId' type='hidden' value=discogsId)
            .input-group
              input.m-input(name='artist', type='text' value=artist)
              label(for='artist' type='text') Artist
            .input-group
              input.m-input(name='album', type='text' value=album)
              label(for='album' type='text') Album
            .input-group
              input.m-input(name='releaseYear', type='number' value=year)
              label(for='releaseYear' type='text') Release Year
            .input-group
              input.m-input(name='genre', type='text' value=genre)
              label(for='genre' type='text') Genre
            .input-group
              button(type='submit') Add to collection
    //- CONVERT USER OBJECT PASSED INTO TEMPLATE FROM EXPRESS AVAILABLE IN FOLLOWING SCRIPTS
    script(type='text/javascript').
      var user = !{JSON.stringify(user)}
    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js')
    script(src='/scripts/input.js')
    script(src='/scripts/jq-serialize-obj.js')
    script(src='/scripts/search-details.js')
    script(src='/scripts/nav.js')
