doctype html

html(lang='en')
  include includes/head.pug
  body
    include includes/nav.pug
    main
      h1 My Collection
      .cards.container
        each album in music
          .card(id= album.id)
            .card-img-container
              img(src=album.thumb)
            .card-title
              a.toggle-info.btn(href='#')
                span.left 
                span.right
              h2.album.ellipsis= album.album
              h3.artist.ellipsis= album.artist
            .card-flap.flap1
              .card-description
                .genre-container
                  p.genre= album.genre[0]
                  i(class='fa fa-music' aria-hidden='true')
                .release-year-conatiner
                  p.release-year= album.releaseYear
                  i(class='fa fa-calendar' aria-hidden='true')
                .play-count-container
                  p.play-count= album.playCount
                  button.increment-play-count: i(class='fa fa-refresh' aria-hidden='true')
              .card-flap.flap2
                .card-actions
                  a#btn-rec-details(href='/collection/details')
                    button See more details

      
    //- CONVERT USER OBJECT PASSED INTO TEMPLATE FROM EXPRESS AVAILABLE IN FOLLOWING SCRIPTS
    script(type='text/javascript').
      var user = !{JSON.stringify(user)}
    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js')
    script(src='/scripts/jq-serialize-obj.js')
    script(src='/scripts/foldout-cards.js')
    script(src='/scripts/collection.js')
    script(src='/scripts/nav.js')
